/U01 - FONAMENTS/01 - HolaMon/nbproject/private/
/U01 - FONAMENTS/01 - HolaMon/build/
/U01 - FONAMENTS/ex01_Dades_Personals/nbproject/private/
/U01 - FONAMENTS/ex01_Dades_Personals/build/
/U01 - FONAMENTS/ex02_Dades_Personals_v2/nbproject/private/
/U01 - FONAMENTS/ex02_Dades_Personals_v2/build/
/U01 - FONAMENTS/ex03_Notes/nbproject/private/
/U01 - FONAMENTS/ex03_Notes/build/
/DF Basics/Algo01/nbproject/private/
/DF Basics/Algo01/build/
/DF Basics/Algo01b/nbproject/private/
/DF Basics/Algo01b/build/
/DF Basics/Algo02/nbproject/private/
/DF Basics/Algo02/build/
/DF Basics/Algo03/nbproject/private/
/DF Basics/Algo03/build/
/DF Basics/Algo04/nbproject/private/
/DF Basics/Algo04/build/
/DF Basics/Algo04b/nbproject/private/
/DF Basics/Algo04b/build/
/DF Basics/Algo05/nbproject/private/
/DF Basics/Algo06/nbproject/private/
/DF Basics/Algo06/build/
/DF Basics/Algo07/nbproject/private/
/DF Basics/Algo07/build/
/DF Basics/Algo08/nbproject/private/
/DF Basics/Algo08/build/
/DF Basics/Algo09/nbproject/private/
/DF Basics/Algo09/build/
/DF Basics/Algo10/nbproject/private/
/DF Basics/Algo10/build/
/DF Basics/Algo11/nbproject/private/
/DF Basics/Algo11/build/
/DF Basics/Algo12/nbproject/private/
/DF Basics/Algo12/build/
/DF Basics/Algo13/nbproject/private/
/DF Basics/Algo13/build/
/DF Basics/Algo14/nbproject/private/
/DF Basics/Algo14/build/
/DF Basics/Algo15/nbproject/private/
/DF Basics/Algo15/build/
/DF Basics/Algo16/nbproject/private/
/DF Basics/Algo16/build/
/DF Basics/Algo17/nbproject/private/
/DF Basics/Algo17/build/
/DF Basics/Algo17b/nbproject/private/
/DF Basics/Algo17b/build/
/DF Basics/Algo18/nbproject/private/
/DF Basics/Algo18/build/
/DF Basics/Algo18b/nbproject/private/
/DF Basics/Algo18b/build/
/DF Basics/Algo19/nbproject/private/
/DF Basics/Algo19/build/
/DF Basics/Algo19b/nbproject/private/
/DF Basics/Algo19b/build/
/DF Basics/Algo20/nbproject/private/
/DF Basics/Algo20/build/
/DF Basics/Algo20b/nbproject/private/
/DF Basics/Algo20b/build/
/DF Basics/Algo21/nbproject/private/
/DF Basics/Algo21/build/
/DF Basics/Algo21b/nbproject/private/
/DF Basics/Algo21b/build/
/DF Basics/Algo22/nbproject/private/
/DF Basics/Algo22/build/
/DF Basics/Algo23/nbproject/private/
/DF Basics/Algo23/build/
/DF Basics/Algo23b/nbproject/private/
/DF Basics/Algo23b/build/
/DF Basics/Algo24/nbproject/private/
/DF Basics/Algo24/build/
/DF Basics/Algo24b/nbproject/private/
/DF Basics/Algo24b/build/
/DF Basics/Algo25/nbproject/private/
/DF Basics/Algo25/build/
/DF Basics/Algo25b/nbproject/private/
/DF Basics/Algo25b/build/
/DF Basics/Algo26/nbproject/private/
/DF Basics/Algo26/build/
/DF Basics/Algo27/nbproject/private/
/DF Basics/Algo27/build/
/DF Basics/Algo28/nbproject/private/
/DF Basics/Algo28/build/
/DF Basics/Algo29/nbproject/private/
/DF Basics/Algo29/build/
/DF Basics/Algo30/nbproject/private/
/DF Basics/Algo30/build/
/DF Basics/Algo31/nbproject/private/
/DF Basics/Algo31/build/
/DF Basics/Algo32/nbproject/private/
/DF Basics/Algo32/build/
/DF Basics/Algo33/nbproject/private/
/DF Basics/Algo33/build/
/DF Basics/Algo34/nbproject/private/
/DF Basics/Algo34/build/
/DF Basics/Algo35/nbproject/private/
/DF Basics/Algo35/build/
/DF Basics/Algo36/nbproject/private/
/DF Basics/Algo36/build/
/DF Basics/Algo37/nbproject/private/
/DF Basics/Algo37/build/
/DF Basics/Algo38/nbproject/private/
/DF Basics/Algo38/build/
/DF Arrays/Array01/nbproject/private/
/DF Arrays/Array01/build/
/DF Arrays/Array01b/nbproject/private/
/DF Arrays/Array01b/build/
/DF Arrays/Array02/nbproject/private/
/DF Arrays/Array02/build/
/DF Arrays/Array02b/nbproject/private/
/DF Arrays/Array02b/build/
/DF Arrays/Array03/nbproject/private/
/DF Arrays/Array03/build/
/DF Arrays/Array03b/nbproject/private/
/DF Arrays/Array03b/build/
/DF Arrays/Array04/nbproject/private/
/DF Arrays/Array04/build/
/DF Arrays/Array04b/nbproject/private/
/DF Arrays/Array04b/build/
/DF Arrays/Array05/nbproject/private/
/DF Arrays/Array05/build/
/DF Arrays/Array05b/nbproject/private/
/DF Arrays/Array05b/build/
/DF Arrays/Array06/nbproject/private/
/DF Arrays/Array06/build/
/DF Arrays/Array06b/nbproject/private/
/DF Arrays/Array06b/build/
/DF Arrays/Array07/nbproject/private/
/DF Arrays/Array07/build/
/DF Arrays/Array07b/nbproject/private/
/DF Arrays/Array07b/build/
/DF Arrays/Array08/nbproject/private/
/DF Arrays/Array08/build/
/DF Arrays/Array08b/nbproject/private/
/DF Arrays/Array08b/build/
/DF Arrays/Array09/nbproject/private/
/DF Arrays/Array09/build/
/DF Arrays/Array09b/nbproject/private/
/DF Arrays/Array09b/build/
/DF Arrays/Array10/nbproject/private/
/DF Arrays/Array10/build/
/DF Arrays/Array10b/nbproject/private/
/DF Arrays/Array10b/build/
/DF Arrays/Array11/nbproject/private/
/DF Arrays/Array11/build/
/DF Arrays/Array11b/nbproject/private/
/DF Arrays/Array11b/build/
/DF Arrays/Array12/nbproject/private/
/DF Arrays/Array12/build/
/DF Arrays/Array12b/nbproject/private/
/DF Arrays/Array12b/build/
/DF Arrays/Array13/nbproject/private/
/DF Arrays/Array13/build/
/DF Arrays/Array13b/nbproject/private/
/DF Arrays/Array13b/build/
/DF Arrays/Array14/nbproject/private/
/DF Arrays/Array14/build/
/DF Arrays/Array14b/nbproject/private/
/DF Arrays/Array14b/build/
/DF Arrays/Array15/nbproject/private/
/DF Arrays/Array15/build/
/DF Arrays/Array15b/nbproject/private/
/DF Arrays/Array15b/build/
/DF Arrays/Array16/nbproject/private/
/DF Arrays/Array16/build/
/U01 - FONAMENTS/Calculadora/nbproject/private/
/U01 - FONAMENTS/Calculadora/build/
/U01 - FONAMENTS/Calculadora2/nbproject/private/
/U01 - FONAMENTS/Suma/nbproject/private/
/U01 - FONAMENTS/Suma/build/